<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container">
		<a class="navbar-brand" href="/">Check</a>

		<button aria-controls="navigation-content"
				aria-expanded="false"
				aria-label="Toggle navigation"
				class="navbar-toggler"
				data-bs-target="#navigation-content"
				data-bs-toggle="collapse"
				type="button"
		>
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navigation-content">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
				<li class="nav-item"><a class="nav-link" href="/list">List</a></li>
				<li class="nav-item"><a class="nav-link" href="/tags">Tag</a></li>
				<li class="nav-item dropdown">
					<a
							aria-expanded="false"
							class="nav-link dropdown-toggle"
							data-bs-toggle="dropdown"
							id="convert-dropdown"
							role="button"
					>
						Convert
					</a>

					<ul
							aria-labelledby="convert-dropdown"
							class="dropdown-menu dropdown-menu-end text-end"
							style="min-width: 17.5rem"
					>
						<li>
							<p class="m-0 ps-3 pe-4 py-1 text-muted small">
								Select a format and an appropriate file will be downloaded containing any existing checklist items.
							</p>
						</li>
						<li>
							<hr class="dropdown-divider"/>
						</li>
						<li class="px-2">
							<a class="dropdown-item rounded" href="/convert/markdown"
							>Markdown</a
							>
						</li>
						<li class="px-2">
							<a class="dropdown-item rounded" href="/convert/xml">XML</a>
						</li>
						<li class="px-2">
							<a class="dropdown-item rounded" href="/convert/yaml">YAML</a>
						</li>
					</ul>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="/register">Register</a>
				</li>
			</ul>

			<form action="/search" class="d-flex ps-5 form" id="Quentin's-form" method="get">
				<input class="form-control" id="search" name="q" placeholder="search" type="text"/>
				<button class="ms-2 submit btn btn-outline-success" id="submit">search</button>
			</form>
		</div>
	</div>
</nav>
